.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  padding: 20px;
  text-align: center;
}

.hero img {
  margin-top: 80px;
  width: 340px;
  max-width: 90%;
  border-radius: 40%;

}


.hero h1 {
  width: 90%;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
}

.hero h1 span {
  background: linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 90%;
  font-size: 18px;
  line-height: 1.7;
  max-width: 700px;
}

.hero-action {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}

.hero-connect,
.hero-resume {
  padding: 18px 32px;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}

.hero-connect {
  background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
  border: none;
}

.hero-resume {
  border: 2px solid #fff;
}

.hero-connect:hover {
  border: 2px solid white;
}

.hero-resume:hover {
  border-color: #B415FF;
}

a {
  text-decoration: none;
  color: white;
}

/* Tablet styles */
@media (min-width: 768px) {
  .hero {
    padding: 40px;
  }

  .hero h1 {
    font-size: 42px;
    width: 75%;
  }

  .hero p {
    font-size: 20px;
    width: 70%;
  }

  .hero-action {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .hero-connect,
  .hero-resume {
    font-size: 22px;
    padding: 20px 50px;
  }
}

/* Desktop styles */
@media (min-width: 1025px) {
  .hero img {
    width: 350px;
  }

  .hero h1 {
    font-size: 50px;
    width: 70%;
  }

  .hero p {
    font-size: 24px;
    width: 50%;
  }

  .hero-action {
    margin-bottom: 60px;
  }
}
/* .hero img {
  animation: jellyFloat 6s ease-in-out infinite;
}

@keyframes jellyFloat {
  0%, 100% { transform: translateY(0) scale(1); }
  25% { transform: translateY(-5px) scale(1.01); }
  50% { transform: translateY(0px) scale(0.99); }
  75% { transform: translateY(5px) scale(1.02); }
} */
